<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="Data Source=WIN-CCSID4DUBPN\SQLEXPRESS;Initial Catalog=dbMyEPiServerSite;Integrated Security=False;User ID=dbUserepiserver6;Password=Hafd@41#$1;Connect Timeout=10" providerName="System.Data.SqlClient" />
  <add name="EPiServerDB_oracle" connectionString="Data Source=XE;User Id=episerverlocalCMS6RTM;Password=epi#Server7Local;" providerName="Oracle.DataAccess.Client" />
</connectionStrings>