<episerver.framework>
  <scanAssembly forceBinFolderScan="true" />
  <siteHostMapping>
    <siteHosts siteId="MyEPiServerSite">
      <add name="*" />
      <add name="win-ccsid4dubpn:17000" />
    </siteHosts>
  </siteHostMapping>
  <automaticSiteMapping>
    <add key="/LM/W3SVC/2/ROOT:WIN-CCSID4DUBPN" siteId="MyEPiServerSite" />
  </automaticSiteMapping>
</episerver.framework>