<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EPiServer.Research.Connector.Language.LionBridge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="EPiServer.Research.Connector.Language.LionBridge.Properties.Settings.dbEPiServerCMSR1ConnectionString" connectionString="Data Source=rj4\sqlexpress;Initial Catalog=dbEPiServerCMSR1;User ID=cmsR1" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <applicationSettings>
        <EPiServer.Research.Connector.Language.LionBridge.Properties.Settings>
            <setting name="EPiServer_Research_Connector_Language_LionBridge_FreewayAuth_FreewayAuth" serializeAs="String">
                <value>https://freeway.demo.lionbridge.com/vojo/FreewayAuth.asmx</value>
            </setting>
            <setting name="EPiServer_Research_Connector_Language_LionBridge_FreewayWS_Vojo" serializeAs="String">
                <value>https://freeway.demo.lionbridge.com/vojo/service.asmx</value>
            </setting>
            <setting name="EPiServer_Research_Connector_Language_LionBridge_FreewayEval_EvaluationHelper" serializeAs="String">
                <value>https://freeway.demo.lionbridge.com/vojo/EvaluationHelper.asmx</value>
            </setting>
        </EPiServer.Research.Connector.Language.LionBridge.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
